@import url('./loader.css');

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: 'Montserrat-Regular', sans-serif;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.04em;
  font-weight: 400;
  margin: 0;
}

.user-search {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  width: 98vw;
  max-width: 1440px;
  height: 108px;
  z-index: 100;
  display: flex;
  flex-direction: row;
  gap: 8px;
  justify-content: center;
  align-items: center;
}

.input-user-search {
  border: 1px solid #808080;
  border-radius: 4px;
  width: 272px;
  height: 40px;
  color: #808080;
  padding-left: 16px;
}

.input-user-search:hover {
  border-color: #000000;
}

.button-user-search {
  border-width: 0;
  border-radius: 8px;
  font-family: 'Montserrat-Medium', sans-serif;
  font-weight: 500;
  background: #4e75ff;
  color: #ffffff;
  width: 75px;
  height: 40px;
}

.button-user-search:hover {
  background: #6c8cff;
}

.gallery {
  padding: 108px 156px 0 156px;
  margin: auto;
  width: 98vw;
  max-width: 1440px;
}

.gallery-from-pixabay {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: space-between;
  align-content: space-between;
  background-color: #ffffff;
  width: 100%;
  padding: 0;
}

.gallery-item {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  width: 360px;
  border-radius: 4px;
  border: 1px solid #808080;
}

.gallery-link {
  display: block;
  width: 100%;
  height: 240px;
  overflow: hidden;
}

.gallery-item img {
  margin: 0;
  object-fit: cover;
}

.details {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 8px;
}

.details div {
  display: flex;
  flex-direction: column;
  text-align: center;
}

p {
  font-size: 12px;
  color: #2e2f42;
}

.details-icon {
  font-size: 24px;
}
